:root {
    --bg: #1d1d1d;
    --text-color: #fff;
    --fullbg: #2c2c2c;
}
  
.light-mode {
    --bg: white;
    --text-color: #1d1d1d;
    --fullbg: white;
}


body {
    font-family: Arial, sans-serif;
    background-color: var(--fullbg);
    text-align: center;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: var(--bg);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 2px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}

.vac-head {
    background-color: #5a5a5a;
    color: var(--bg);
}

.zone-a {
    background-color: #e67e22;
    color: var(--bg);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.7);
}

.zone-b {
    background-color: #2980b9;
    color: var(--bg);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.7);
}

.zone-c {
    background-color: #27ae60;
    color: var(--bg);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.7);

}

.zone-a-p {
    background-color: rgba(230, 126, 34, 0.5);
}

.zone-b-p {
    background-color: rgba(41, 128, 185, 0.5);
}

.zone-c-p {
    background-color: rgba(39, 174, 96, 0.5);
}




.left-header {
    background-color: #f0f0f0;
    text-align: left;
    font-weight: bold;
    padding-left: 15px;
    width: 25%;
    color: black;
}

.note {
    font-size: 14px;
    color: #555;
    text-align: justify;
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer img {
    width: 50px;
    margin-right: 10px;
}

.footer p {
    font-size: 14px;
    color: #333;
}



.bouton-retour {
    cursor: pointer;
    background-color: white;
    text-align: center;
    width: 100px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.icon-container-retour {
    background-color: #1f1f1f;
    border-radius: 12px;
    height: 20px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: width 0.5s ease;
    z-index: 10;
}

.bouton-retour:hover .icon-container-retour {
    width: 88px;
}

.bouton-retour-text {
    transform: translateX(8px);
    transition: color 0.3s ease;
}



.themeToggle {
    color: #bbb;
    width: 3em;
    display: inline-block;
  
  }
  
  .st-sunMoonThemeToggleBtn {
    position: fixed;
    top: -32px;
    right: 25px;
    z-index: 9000;
    cursor: pointer;
  }
  
  .st-sunMoonThemeToggleBtn .themeToggleInput {
    opacity: 0;
    width: 100%;
    aspect-ratio: 1;
  }
  
  .st-sunMoonThemeToggleBtn svg {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
    transform: rotate(40deg);
  }
  
  .st-sunMoonThemeToggleBtn svg .sunMoon {
    transform-origin: center center;
    transition: inherit;
    transform: scale(1);
  }
  
  .st-sunMoonThemeToggleBtn svg .sunRay {
    transform-origin: center center;
    transform: scale(0);
  }
  
  .st-sunMoonThemeToggleBtn svg mask > circle {
    transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
    transform: translate(0px, 0px);
  }
  
  .st-sunMoonThemeToggleBtn svg .sunRay2 {
    animation-delay: 0.05s !important;
  }
  .st-sunMoonThemeToggleBtn svg .sunRay3 {
    animation-delay: 0.1s !important;
  }
  .st-sunMoonThemeToggleBtn svg .sunRay4 {
    animation-delay: 0.17s !important;
  }
  .st-sunMoonThemeToggleBtn svg .sunRay5 {
    animation-delay: 0.25s !important;
  }
  .st-sunMoonThemeToggleBtn svg .sunRay5 {
    animation-delay: 0.29s !important;
  }
  
  .st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg {
    transform: rotate(90deg);
  }
  .st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg mask > circle {
    transform: translate(16px, -3px);
  }
  .st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunMoon {
    transform: scale(0.55);
  }
  .st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunRay {
    animation: showRay1832 0.4s ease 0s 1 forwards;
  }
  
  @keyframes showRay1832 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }